:root {
	--background-color: #ffffff;
	--foreground-color: #101729;
	--space: clamp(0.3rem, 1.5vw, 2rem);
	--space-lg: 3vw;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 1rem;

	@media (width > 550px) {
		font-size: 1.25rem;
	}
}

body {
	margin: 0;
	hyphens: auto;
	line-height: 1.4;
	background: var(--background-color);
	color: var(--foreground-color);
	font-family: "Triplicate A Poly", monospace;
}

html, body, #__nuxt {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: 1rem;
	font-weight: 400;
	margin: 0;
}

ul, ol {
	padding-inline-start: 0;
	list-style-position: inside;
}

ul,
ol,
p {
	margin: 0;
}
