:root {
	--color-background: #ffffff;
	--color-foreground: #101729;
	--color-link: #265bbe;
	--color-link-visited: #6844b9;
	--space: clamp(0.3rem, 1.5vw, 2rem);
	--space-lg: 3vw;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #101729;
		--color-foreground: #ffffff;
		--color-link: #539bf5;
		--color-link-visited: #b083f0;
	}
}

* {
	box-sizing: border-box;
}

html {
	font-size: 1rem;
}

body {
	margin: 0;
	hyphens: auto;
	line-height: 1.5;
	background: var(--color-background);
	color: var(--color-foreground);
	font-family: "Triplicate A Poly", monospace;
}

html, body, #__nuxt {
	height: 100%;
}

a {
	color: var(--color-link);
}

a:visited {
	color: var(--color-link-visited);
}

h1,
h2,
h3,
h4,
h5 {
	font-size: 1rem;
	font-weight: 700;
	margin: 0;

	& > a {
		color: inherit;
		text-decoration: none;
		position: relative;
		
		&:hover::before {
			content: '#';
			position: absolute;
			inset-inline-start: -1.5ch;
		}
	}
}

ul,
ol,
p {
	margin: 0;
}

sup {
	margin-inline-end: 1ch;
	line-height: 0;
}

.footnotes {
	&, & h2 {
		font-size: 0.8rem;
	}

	::marker {
		vertical-align: super;
	}
}